@font-face {
    font-display: swap; 
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/barlow-semi-condensed-v16-latin-500.woff2') format('woff2'); 
}
@font-face {
    font-display: swap;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/barlow-semi-condensed-v16-latin-600.woff2') format('woff2'); 
}
:root{
    /* primary */
    --clr-purple-50: hsl(260, 100%, 95%);
    --clr-purple-300: hsl(264, 82%, 80%);
    --clr-purple-500: hsl(263, 55%, 52%);
    /* neutral */
    --clr-white: hsl(0, 0%, 100%);
    --clr-grey-100: hsl(214, 17%, 92%);
    --clr-grey-200: hsl(0, 0%, 81%);
    --clr-grey-400: hsl(224, 10%, 45%);
    --clr-grey-500: hsl(217, 19%, 35%);
    --clr-dark-blue: hsl(219, 29%, 14%);
    --clr-black: hsl(0, 0%, 7%);
    /* text */
    --text-1-b-semibold: 600 1.25rem/120% "Barlow Semi Condensed", sans-serif;
    --text-2-b-medium: 500 0.8125rem/110% "Barlow Semi Condensed", sans-serif;
    --text-3-b-medium: 500 0.8125rem/140% "Barlow Semi Condensed", sans-serif;
    --text-4-b-medium: 500 0.6875rem/110% "Barlow Semi Condensed", sans-serif;
    /* letter spacing */
    --ls-0: 0;
}
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
body{
    font-size: 0.8125rem;
    background-color: #F6F5F6;
    margin-block: 4.5625rem;
    margin-inline: 2.1875rem;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.author{
    display: flex;
    gap: 1.0625rem; /*17px*/ 
    align-items: center;

}
img{
    border-radius: 100%;
    height:1.75rem; /* use px for icons */
}
.author__img1, .author__img4{
    border-style: solid;
    border-color: #A775F1;
    border-width: 2px;
}
.author__name{
    font: var(--text-2-b-medium);
    letter-spacing: var(--ls-0);
    margin-bottom: 0.25rem;
}
.author__status{
    font: var(--text-4-b-medium);
    letter-spacing: var(--ls-0);
}
.content__title{
    font: var(--text-1-b-semibold);
    letter-spacing: var(--ls-0);
}
.content__description{
    font: var(--text-3-b-medium);
    letter-spacing: var(--ls-0);
}
.feedback1{
    background-color: var(--clr-purple-500);
}
.feedback2{
    background-color: var(--clr-grey-500);
}
.feedback3{
    background-color: var(--clr-white);
}
.feedback4{
    background-color: var(--clr-dark-blue);
}
.feedback5{
    background-color: var(--clr-white);
}
article{
    border-radius: 0.5rem;
    padding: 2rem;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.2474);
}
.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.name1, .title1, .title2, .name2, .name4, .status4{
    color: var(--clr-white);
}
.status1, .description1{
    color: var(--clr-purple-50);
}
.description2, .description4{
    color: var(--clr-grey-100);
}
.status2, .status5{
    color: #A3AAB4; /*grey 300 not present in styles file*/
}
.title3, .name3, .title5, .name5{
    color: var(--clr-grey-500);
}
.description3, .status3, .description5{
    color: var(--clr-grey-400);
}
.title4{
    color: var(--clr-grey-200);
}
/* * {
outline: 1px solid red;
} */


@media(min-width:48rem){

    .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    }
    .feedback1, .feedback4, .feedback5{
    grid-column: span 2;
    }
    .feedback1{
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: 70% 0%;
    }

}

@media(min-width:90rem){
    body{
        margin: 0;
    }
    .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    max-width: 69.625rem;

    }
    .feedback5{
    grid-row: 1/3;
    grid-column: 4;
    }
}

