@font-face {
    font-display: swap; 
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/barlow-semi-condensed-v16-latin-500.woff2') format('woff2'); 
}
@font-face {
    font-display: swap;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/barlow-semi-condensed-v16-latin-600.woff2') format('woff2'); 
}
:root{
    /* primary */
    --clr-purple-50: hsl(260, 100%, 95%);
    --clr-purple-300: hsl(264, 82%, 80%);
    --clr-purple-500: hsl(263, 55%, 52%);
    /* neutral */
    --clr-white: hsl(0, 0%, 100%);
    --clr-grey-100: hsl(214, 17%, 92%);
    --clr-grey-200: hsl(0, 0%, 81%);
    --clr-grey-400: hsl(224, 10%, 45%);
    --clr-grey-500: hsl(217, 19%, 35%);
    --clr-dark-blue: hsl(219, 29%, 14%);
    --clr-black: hsl(0, 0%, 7%);
    /* text */
    --text-1-b-semibold: 600 20px/120% "Barlow Semi Condensed", sans-serif;
    --text-2-b-medium: 500 13px/110% "Barlow Semi Condensed", sans-serif;
    --text-3-b-medium: 500 13px/140% "Barlow Semi Condensed", sans-serif;
    --text-4-b-medium: 500 11px/110% "Barlow Semi Condensed", sans-serif;
    /* letter spacing */
    --ls-0: 0;
}
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 13px;
    background-color: #F6F5F6;
    margin-block: 73px;
    margin-inline: 35px;
}
.author{
    display: flex;
    gap: 17px;
    align-items: center;

}
img{
    border-radius: 100%;
    height:28px;
}
.author__img1, .author__img4{
    border-style: solid;
    border-color: #A775F1;
    border-width: 2px;
}
.author__name{
    font: var(--text-2-b-medium);
    letter-spacing: var(--ls-0);
    margin-bottom: 4px;
}
.author__status{
    font: var(--text-4-b-medium);
    letter-spacing: var(--ls-0);
}
.content__title{
    font: var(--text-1-b-semibold);
    letter-spacing: var(--ls-0);
}
.content__description{
    font: var(--text-3-b-medium);
    letter-spacing: var(--ls-0);
}
.feedback1{
    background-color: var(--clr-purple-500);
}
.feedback2{
    background-color: var(--clr-grey-500);
}
.feedback3{
    background-color: var(--clr-white);
}
.feedback4{
    background-color: var(--clr-dark-blue);
}
.feedback5{
    background-color: var(--clr-white);
}
article{
    border-radius: 8px;
    padding: 32px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 40px 60px 50px -47px rgb(72, 85, 106, 0.2474);
}
.container{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.name1, .title1, .title2, .name2, .name4, .status4{
    color: var(--clr-white);
}
.status1, .description1{
    color: var(--clr-purple-50);
}
.description2, .description4{
    color: var(--clr-grey-100);
}
.status2, .status5{
    color: #A3AAB4; /*grey 300 not present in styles file*/
}
.title3, .name3, .title5, .name5{
    color: var(--clr-grey-500);
}
.description3, .status3, .description5{
    color: var(--clr-grey-400);
}
.title4{
    color: var(--clr-grey-200);
}

@media(min-width:768px){
    body{
    margin-block: 83px;
    margin-inline: 60px;
    }
    .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    }
    .feedback1, .feedback4, .feedback5{
    grid-column: span 2;
    }
    .feedback1{
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right 4.5rem;
    }

}

@media(min-width:1440px){
    body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    }
    .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 1114px;
    }
    .feedback5{
    grid-row: 1/-1;
    grid-column: 4;
    }
}

